{% extends "base.html" %}
{% load static %}
{% block title %}お問い合わせ{% endblock %}
{% block page_title %}Contact{% endblock page_title %}
{% block header_home_logo %}<li class="home_logo"><a href="{% url "ohara:index" %}"><img src={% static "assets/img/ホームボタン.png" %} alt="大原logo"></a></li>{% endblock %}
{% block header_id %}header_contact{% endblock %}
{% block contents %}
  <div class="contact_main_div" style="width: 400px; margin: auto;">
   <form method="post">
     {% csrf_token %}
     {{ form.non_field_errors }}
     
     {% for field in form %}
       <div class="contact_ohara">
         <label for="{{ field.id_for_label }}">
           {{ field.label_tag }}
         </label>
         <div>
           {{ field }}
           {{ field.errors }}
         </div>
       </div>
     {% endfor %}
     <button class="button_transfer" type="submit">送信</button>
    </div>
  </form>
{% endblock %}