{% extends "base.html" %}
{% load static %}
{% block page_title %}投稿削除{% endblock page_title %}
{% block header_id %}header_delete{% endblock %} 
{% block title %}投稿削除{% endblock %}
{% block contents %}
    <div class='delete_div'>
        <form method="POST">
            <p>本当に削除してもいいですか？</p>
            <small>※削除を押すと、元に戻すことはできません</small>
            {% csrf_token %}
            <br>
            <button class='' type='submit'>削除</button>
            <a href="{% url 'ohara:keiziban_detail' object.pk %}" class='post_delete_cancel'>キャンセル</a>
        </form>
    </div>
{% endblock %}